::content {  
    max-width: 1600px;
    }
    
    
    /* hkdh */
    ::content {
    
    margin: 0 auto;
    
    }
    
    
    
    .whole-body {
    
    
    max-width: 1600px;
    }
    
    
    .whole-body {
    
    margin: 0% auto;
    
    }
    
    