.whole-body {  
max-width: 1600px;
margin: 0% auto;
}
    
    
  
::content {
    
margin: 0 auto;
    
}
    
    
    
.whole-body {
    
    
max-width: 1600px;
}
    
    
.whole-body {
    
margin: 0% auto;
    
}
    
nav {
    text-align: center;

}